<h3><%= @contact.first_name %> <%= @contact.last_name %></h3>
<p> <strong> E-mail: </strong> <%= @contact.email %></p>
<p> <strong> Note: </strong></p> 
<p> <%= @contact.email %> </p>

<form action="/contacts/<%= @contact.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" name="Delete Contact" value="Delete Contact">
</form>
<a href="/contacts/<%= @contact.id %>/edit"> Edit contact </a>